/* New Stuff */
.logo-wrapper{
    display: flex;
}
.logo-wrapper img{
    height: 100%;
    margin: auto;
    margin-left: 15px;
    transform: scale(2);
}
.logo-wrapper span{
    margin: auto;
}
.btn-circle i{
    left: 1px;
}
.table-btns {
    position: absolute;
    left: 0;
    bottom: calc(100% + 5px)
}
.will-fade-in{
    opacity: 0;
    position: relative;
    left: -43px;
    transition: .14s
}
.fade-toggle{
    left: 0;
    opacity: 1
}
.green{color: #4CAF50}
.yellow{color: #FFC107}
.red{color: #F44336}
.vue-map-container{
    height: 350px;
}


/* Login */
.login-box{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #00BCD4;
}
.login-box .card{
    max-width: 360px;
    margin: 5% auto;
    margin-top: 0;
}
.login-box .logo {text-align: center;margin-top: 10vh}
.login-box .logo img{width: 100px;}







/* RTL */
*{
    font-family: 'Cairo', arial;
}
body,html{
    /* overflow-x: hidden; */
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
    display: none;
}
.sidebar{
    right: 0;
    left: auto;
}
section.content{
    margin: 100px 315px 0 15px;
}
.sidebar .menu .list{
    padding: 0;
}
.sidebar .menu .list a span{
    margin: 7px 12px 7px 0;
}
.sidebar .user-info{height: auto}
.sidebar .user-info .info-container .user-helper-dropdown{
    right: auto;
    left: -3px;
}
.sidebar .menu .list .menu-toggle:after, .sidebar .menu .list .menu-toggle:before{
    left: 17px;
    right: auto;
}
.sidebar .user-info .info-container{
    top: 0;
}
.modal .modal-header .modal-title{float: right;}
.sidebar{
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1)
}
